#core {
	overflow: overlay;
}

body {
	overflow: hidden;
}

div.leftPane, div.rightPane {
	float: left;
	border-color: darkslategray;
	border-style: solid solid solid hidden;
	border-width: 5px;
	padding: .5em;
	border-color: darkslategray;
}

div.leftPane {
	width: -moz-calc(75% - ( 16px + .5em));
	width: -webkit-calc(75% - ( 16px + .5em));
	width: calc(75% - ( 16px + .5em));
	border-left-style: solid;
}

div.rightPane {
	width: -moz-calc(25% - ( 16px + .5em));
	width: -webkit-calc(25% - ( 16px + .5em));
	width: calc(25% - ( 16px + .5em));
}

.me td {
	background: lightgray;
	padding: 1px 1px 1px 10px
}

.gameLobby {
	margin: 0 auto;
	float: left;
	position: relative;
	background-color: gray;
	height: -moz-calc(100% - ( 16px + .5em));
	height: -webkit-calc(100% - ( 16px + .5em));
	height: calc(100% - ( 16px + .5em));
}

#gameAndChatBlock, #gameBlock {
	display: flex;
	display: -webkit-flex;
}

#gameAndChatBlock {
	flex-direction: column;
	-webkit-flex-direction: column;
	background-color: #D50000;
}

#gameBlock {
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: nowrap;
	-webkit-flex-wrap: nowrap;
	width: 100%;
	background-color: #00D500;
}

#gameList, #gameView, #gameBlock, #userBlock {
	max-height: 350px;
	height: 350px;
}

#gameList {
	width: 100%;
	text-align: center;
}

#gameList, #userBlock, #gameView {
	overflow-y: auto;
}

#gameView {
	background-color: lightgray;
}

#gameView, #userBlock {
	max-width: 250px;
	width: 250px;
}

#chatView {
	margin: 0 auto;
	
	width: 100%;
	height: 100%;
	background-color: #550000;
	text-align: left;
	
	display: flex;
	flex-direction: column;
	position: relative;
}

#userList {
	width: 100%;
	font-size: medium;
}

#userList tbody {
	text-align: left;
}

#newGameButton {
	position: absolute;
	left: -moz-calc(40% - 15px);
	left: -webkit-calc(40% - 15px);
	left: calc(40% - 15px);
	top: -moz-calc(87%);
	top: -webkit-calc(87%);
	top: calc(87%);
}