#core {
	overflow: overlay;
}

div.leftPane, div.rightPane {
	float: left;
	border-color: darkslategray;
	border-style: solid solid solid hidden;
	border-width: 5px;
	padding: .5em;
	height: -moz-calc(100% - ( 16px + .5em));
	height: -webkit-calc(100% - ( 16px + .5em));
	height: calc(100% - ( 16px + .5em));
}

div.leftPane {
	width: -moz-calc(75% - ( 16px + .5em));
	width: -webkit-calc(75% - ( 16px + .5em));
	width: calc(75% - ( 16px + .5em));
	border-left-style: solid;
}

div.rightPane {
	width: -moz-calc(25% - ( 16px + .5em));
	width: -webkit-calc(25% - ( 16px + .5em));
	width: calc(25% - ( 16px + .5em));
}

.me td{
	background: lightgray;
	padding: 1px 1px 1px 10px
}

.gameLobby {
	margin: 0 auto;
	float: left;
	position: relative;
	background-color: gray;
	
	cursor: default;
}

#gameAndChatBlock {
	background-color: #D50000;
}

#gameBlock {
	width: 100%;
	background-color: #00D500;
}

#gameList, #gameView, #gameBlock {
	min-height: 300px;
}

#gameList {
	width: -moz-calc(100% - 250px);
	width: -webkit-calc(100% - 250px);
	width: calc(100% - 250px);
	text-align: center;
}

#gameView {
	width: 250px;
	background-color: lightgray;
}

#chatView {
	width: 100%;
	height: -moz-calc(100% - 300px);
	height: -webkit-calc(100% - 300px);
	height: calc(100% - 300px);
	background-color: #004;
	text-align: center;
}

#userList {
	width: 100%;
	font-size: medium;
}

#userList tbody {
	text-align: left;
}