<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    id="WebApp_ID">
    
    <display-name>LaResistance</display-name>
    
    <!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/spring/root-context.xml</param-value>
    </context-param>
    
    <!-- The definition of the Logger Container shared by all Servlets and Filters -->
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>/resources/log4j.xml</param-value>
    </context-param>
    
    <!-- Loads the Properties Files -->
    <listener>
        <listener-class>org.resist.ance.property.MultiPropertyLoaderListener</listener-class>
    </listener>
    
    <!-- Initializes the Logger with Appenders -->
    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>   
     
    <!-- Creates the Spring Container shared by all Servlets and Filters -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- Declares the Servlet -->
    <servlet>
        <servlet-name>Resistance-dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/spring/ResistanceServlet/servlet-context.xml</param-value>
        </init-param>
        <init-param>
	        <param-name>listings</param-name>
	        <param-value>true</param-value>
   		</init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <!-- Defines the Servlet Mapping -->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/js/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/css/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Resistance-dispatcher</servlet-name>
        <url-pattern>*.pdf</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Resistance-dispatcher</servlet-name>
        <url-pattern>*.txt</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Resistance-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <!-- Defines the Page to Display on the Root Page -->
    <welcome-file-list>
        <welcome-file>/jsp/ResistanceLogin.jsp</welcome-file>
    </welcome-file-list>
    
</web-app>